@charset "UTF-8";
/*top */
.top {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: fixed;
  bottom: 10%;
  right: 1%;
  display: none; }

/* header */
.header {
  width: 100%;
  height: 60px;
  background-color: #19b1e0;
  opacity: 0.8;
  box-shadow: 2px 2px 5px #aaa, -2px 0 5px #aaa; }

.header-nav {
  max-width: 1000px;
  height: 60px;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto; }
  .header-nav .header-nav-log {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 20px; }
    .header-nav .header-nav-log img {
      width: 50px;
      height: 50px; }
  .header-nav .header-nav-nav {
    width: 50%;
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between; }
    .header-nav .header-nav-nav li {
      font-family: "Microsoft YaHei";
      float: left;
      color: #666;
      font-size: 20px; }
      .header-nav .header-nav-nav li:hover {
        border-bottom: 1px solid #fff; }
      .header-nav .header-nav-nav li a {
        color: #666; }
  .header-nav .navMobile {
    width: 200px;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #ccc;
    border-radius: 5px;
    z-index: 66666666; }
    .header-nav .navMobile li {
      padding: 10px 20px;
      text-align: center; }
      .header-nav .navMobile li a {
        text-align: center; }

.header-nav-music {
  position: absolute;
  right: 0;
  top: 0;
  width: 180px;
  height: 60px;
  background-color: #110839; }
  .header-nav-music::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    border: 30px solid #19b1e0;
    border-color: transparent transparent #19b1e0 #19b1e0; }
  .header-nav-music > img {
    position: absolute;
    top: 0;
    right: 95px;
    cursor: pointer; }
  .header-nav-music > span {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 10px;
    color: #e7e7e7;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    font-family: "Francois One", Helvetica, Arial, sans-serif;
    text-shadow: 1.5px 1.5px 0 #cac6c5, -1.5px -1.5px 0 #cac6c5, -1.5px -1.5px 0 #cac6c5, -1.5px 1.5px 0 #cac6c5, 1.5px -1.5px 0 #cac6c5;
    transition: all 400ms ease-in-out; }

.navMobileLogo {
  position: absolute;
  right: 2%;
  z-index: 666;
  top: 25%;
  display: none; }

.raiseUp:hover {
  transform: translate(-9px, -9px);
  text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333, 0.77782px 0.77782px 0 #aaaaaa, 1.55563px 1.55563px 0 #aaaaaa, 2.33345px 2.33345px 0 #aaaaaa, 3.11127px 3.11127px 0 #aaaaaa, 3.88909px 3.88909px 0 #aaaaaa; }

.header--shadow:hover {
  transform: translate(5px, 0); }

/*section */
.section {
  margin: 0 auto;
  width: 100%; }

body {
  width: 100%;
  height: 100%;
  background-image: url(../img/IMG_8144.jpg); }

.section-content {
  width: 1000px;
  margin: 100px auto; }
  .section-content .section-content-content {
    width: 100%;
    background: #eee;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #ccc; }

.section-header a {
  text-align: center;
  font-size: 20px;
  color: #19b1e0; }

.section-meta a span {
  text-align: center;
  color: #aaa;
  font-size: 15px;
  margin-left: 15px; }

.section-con {
  margin: 0 auto;
  width: 900px;
  height: 150px; }
  .section-con > a > img {
    width: 100%;
    height: 150px; }
  .section-con a {
    display: block;
    text-align: center;
    width: 100%;
    margin: 15px auto; }
    .section-con a > p {
      font-family: "YouYuan";
      font-size: 18px;
      line-height: 22px; }

.section-footer a {
  color: #aaa;
  font-size: 15px; }
  .section-footer a > p {
    margin-left: 15px;
    text-decoration: underline;
    margin-bottom: 10px; }
  .section-footer a > span {
    color: #19b1e0;
    margin-left: 15px; }

/*footer */
footer {
  width: 100%;
  height: 80px;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0; }

.footer-nav-top {
  width: 100%;
  height: 10px;
  background: transparent url(../img/footer.png) repeat-x scroll 0 0; }

.footer-nav-bom {
  width: 100%;
  height: 70px;
  background-color: #2adaef; }
  .footer-nav-bom h3 {
    text-align: center;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding-top: 10px; }

/*blog */
#BlogALL {
  margin: 0 auto;
  width: 100%; }

#BlogALL-content {
  margin: 350px auto 200px;
  width: 1000px;
  background-color: #f0ffff;
  box-shadow: 2px 2px 5px #aaa, -2px 0 5px #aaa; }

#BlogALL-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin: auto;
  width: 1000px;
  height: 200px;
  background-color: #87cefa;
  opacity: 0.5;
  box-shadow: 2px 2px 5px #aaa, -2px 0 5px #aaa;
  overflow: hidden; }
  #BlogALL-title > a {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 999;
    display: none; }
    #BlogALL-title > a > img {
      width: 100px;
      height: 100px;
      border-radius: 50%; }

#BlogALL-title-small {
  text-align: center;
  position: absolute;
  font-size: 50px;
  height: 200px;
  line-height: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000; }

.BlogALL-content-con {
  width: 900px;
  font-size: 20px;
  line-height: 31px;
  overflow: hidden;
  word-wrap: break-word;
  margin: 30px 50px;
  font-family: "PingFang TC,Avenir Next,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,sans-serif";
  color: #666; }

#bloglist {
  width: 800px;
  height: 100px;
  margin: 0 auto;
  background-image: url(../img/bg-0004.jpg); }

#blogTitlelist {
  width: 1000px;
  height: 150px;
  line-height: 150px;
  margin: 0 auto; }
  #blogTitlelist h1 {
    text-align: center;
    color: #666; }

#section-content-list {
  width: 1000px;
  margin: 100px auto;
  background-color: #87cefa;
  padding: 20px;
  padding-bottom: 150px;
  border-radius: 10px; }

.post-list-item {
  display: block;
  padding: 8px 30px 10px 30px;
  border-radius: 10px;
  margin-bottom: 3px;
  border-bottom: 1px dashed #aaa;
  border-left: 0.6em solid #ccc;
  transition: 0.45s ease;
  -webkit-transition: 0.45s ease;
  -moz-transition: 0.45s ease;
  -o-transition: 0.45s ease; }
  .post-list-item:hover {
    border-left: 0.6em solid #483d8b; }
  .post-list-item h2 {
    color: #2ca6cb;
    margin: 35px 0 8px 0;
    cursor: pointer; }

#section-content-about {
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #87cefa;
  border-radius: 10px; }
  #section-content-about img {
    width: 100%; }
  #section-content-about p {
    color: #666;
    margin: 20px;
    height: 50px;
    line-height: 25px; }

.aboutmiss {
  width: 100%;
  margin: 10px auto;
  text-align: center; }

.vb-a {
  position: relative; }

.vb {
  display: inline-block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #aaa;
  text-align: center;
  position: absolute;
  left: -8px;
  bottom: 40px;
  display: none; }
  .vb::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid #eee;
    border-color: #aaa transparent transparent transparent;
    position: absolute;
    left: 13px;
    bottom: -20px; }

.collectall {
  margin: 20px auto;
  border: 1px solid #87cefa;
  background-color: #fff;
  padding: 20px;
  background-image: url(../img/bg-0004.jpg); }
  .collectall h3 {
    text-align: center;
    color: #666; }

.collectall-con {
  margin-top: 15px; }

.smalltit {
  display: inline-block;
  color: #00b2ee;
  font-size: 20px; }

#section-content-collect {
  position: relative; }

.showcollectall {
  position: absolute;
  right: 100px;
  top: 30%;
  width: 300px;
  height: 200px; }

/*代码高亮 */
.heightDm {
  margin: 20px 10px; }

/*分页 */
.page {
  width: 1000px;
  margin: -100px auto;
  overflow: hidden;
  text-align: center; }

.changecolor {
  border-bottom: 1px solid #19b1e0; }

@media (max-width: 1024px) {
  .section {
    width: 80%; }

  .section-content {
    width: 100%; }

  .section-con {
    width: 100%; }

  #section-content-list {
    width: 100%; }

  #blogTitlelist {
    width: 100%; }

  #bloglist {
    width: 80%; } }
@media (max-width: 768px) {
  .header-nav-music {
    display: none; }

  .header-nav-nav {
    display: none !important; }

  .section {
    width: 80%; }

  .section-content {
    width: 100%; }

  .section-con {
    width: 100%; }

  .navMobile {
    display: block; }

  .navMobileLogo {
    display: block; } }
@media (max-width: 600px) {
  .section-header a h1 {
    font-size: 20px;
    margin: 10px 20px; }

  #section-content-list {
    padding: 0;
    padding-bottom: 30px; }

  #blogTitlelist h1 {
    font-size: 25px; }

  #bloglist {
    width: 66%; }

  .showcollectall {
    right: 0;
    color: #fff; } }
@media (max-width: 320px) {
  #blogTitlelist {
    height: 90px;
    line-height: 40px; }

  .showcollectall {
    width: 250px; } }
/*font */
.icon-top {
  font-size: 50px;
  position: absolute;
  left: 18px;
  top: 15px; }

/*# sourceMappingURL=index.css.map */
